---
import MainImage from '../components/MainImage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="for family">
	<div class="flex items-center justify-center container h-screen mx-4 md:mx-auto">
		<div class="flex flex-col md:flex-row items-center gap-4 p-6 rounded-lg shadow-2xl ring-2 ring-red-500">
			<header class="rounded overflow-hidden">
				<MainImage></MainImage>
			</header>
			<main class="flex flex-auto flex-col items-center justify-center text-center gap-2 px-20 slide-enter-content [&>*]:whitespace-nowrap [&>p]:text-md [&>p]:text-primary">
				<h2 class="text-lg">The wedding of</h2>
				<h1 class="kitten text-2xl">Hogi & Yoshi</h1>
				<!-- <p></p>
				<p>Thursday, July 4, 2019</p>
				<p>123 Fake Street</p>
				<p>Seattle, WA 98124</p> -->
			</main>
		</div>
	</div>
</Layout>
