---
import Layout from '../layouts/Layout.astro';
import HeaderImage from '../components/HeaderImage.astro';
import Wedding from '../components/Wedding.astro';
import Introduce from '../components/Introduce.astro';
---

<Layout title="招待状">
	<main class="flex flex-col gap-16 h-screen overflow-y-scroll">
		<HeaderImage></HeaderImage>

		<Wedding></Wedding>

		<Introduce></Introduce>
	</main>

</Layout>
