<section class="h-[85vh] relative">
    <div class="overflow-hidden">
        <img src="/PXL_20230303_090323796.MP.jpg" class="h-[85vh] object-cover md:object-center" />
        <div class="absolute inset-0 bg-black/25"></div>
    </div>

    <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-3xl slide-enter-content">
        <span class="kitten py-8">Hogi & Yoshi</span>

        <p class="border-y-4 border-white p-4 mb-24">
            <span>결혼한다</span>
        </p>
    </div>
</section>