---
import Card from '../components/Card.astro';
---

<section class="grid grid-cols-2 grid-rows-2 text-black">
    <Card>
        <img src="https://raw.githubusercontent.com/manmen-mi/static/main/pics/IMG_5904.jpg" alt="kimuho" class="mask mask-squircle">
    </Card>
    <Card>
        <h1 class="text-3xl">きむほ</h1>
        <span>1993/08/16</span>
        <p>5살</p>
    </Card>
    <Card>
        <h1 class="text-3xl">よしの</h1>
        <span>1996/04/07</span>
        <p>15살</p>
    </Card>
    <Card>
        <img src="https://raw.githubusercontent.com/manmen-mi/static/main/pics/PXL_20230412_113819225.jpg" alt="yoshino" class="mask mask-squircle">
    </Card>
</section>