---
import KittenHeading from "./KittenHeading.astro";

---

<section class="flex flex-col gap-4">
    <div class="flex justify-center">
        <KittenHeading message="About"></KittenHeading>
    </div>

    <ul class="flex flex-col text-gray-400 [&>li]:flex [&>li]:justify-center">
        <li>2023/09/24 10:30 AM</li>
        <li>大阪城豊國神社</li>
        <li>挙式30分・写真撮影30分</li>
    </ul>

    <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2723.0973362410405!2d135.5256160082183!3d34.68346101243729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e0ccefe430f3%3A0x663f55d977462765!2z7Zi47L2U7L-gIOyLoOyCrA!5e0!3m2!1sko!2sjp!4v1686388198255!5m2!1sko!2sjp" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>